<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <!--
    对'ur_robot'宏的便捷封装，为UR5e机器人的各类"参数文件"参数提供默认值。
    当组合包含一个或多个UR5e机器人的复杂场景时，可使用此文件。
    
    虽然也可以使用通用的'ur_robot'宏，但用户需要为所有参数提供值，
    因为该宏未设置任何特定于模型的默认值（甚至不包括视觉、物理参数和关节限制等通用参数）。
    
    有关使用方法、贡献者和限制信息，请参考此包中的主'ur_macro.xacro'文件。
    
    注意：用户很可能至少需要覆盖'kinematics_parameters_file'参数。
          否则将使用默认运动学模型，该模型几乎肯定与任何实际机器人都不匹配。
  -->
   
    <!-- 必须校准的参数 -->
    <!-- 质量/惯性参数 -->
    <!-- 外观材质参数 -->
    <!-- 必须与控制器匹配 -->
        <!-- 启用安全限制 -->
        <!-- 安全位置余量(弧度) -->
        <!-- 位置刚度系数 -->
  <xacro:macro name="ur5e_robot" params="
   prefix
   joint_limits_parameters_file:='$(find ur5e_description)/config/ur5e/joint_limits.yaml'   
   kinematics_parameters_file:='$(find ur5e_description)/config/ur5e/default_kinematics.yaml'
   physical_parameters_file:='$(find ur5e_description)/config/ur5e/physical_parameters.yaml'
   visual_parameters_file:='$(find ur5e_description)/config/ur5e/visual_parameters.yaml'
   transmission_hw_interface:=hardware_interface/PositionJointInterface
   safety_limits:=false
   safety_pos_margin:=0.15
   safety_k_position:=20"
  >
      <!-- 包含核心机器人定义 -->
    <xacro:include filename="$(find ur5e_description)/urdf/inc/ur_macro.xacro"/>
    
    <!-- 实例化UR机器人模型 -->
    <xacro:ur_robot
      prefix="${prefix}"
      joint_limits_parameters_file="${joint_limits_parameters_file}"   
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
      transmission_hw_interface="${transmission_hw_interface}"
      safety_limits="${safety_limits}"
      safety_pos_margin="${safety_pos_margin}"
      safety_k_position="${safety_k_position}"
    />
</xacro:macro>
</robot>
