<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5e_robot">
  <!--
    这是一个便捷的顶层xacro文件，用于加载UR5e的宏定义，并为UR5e的各种"参数文件"参数设置默认值。

    该文件仅在加载独立、完全隔离的机器人（所有参数如运动学、视觉、物理参数和关节限位均使用默认值）时有用。

    此文件不建议集成到更大的场景或其他复合xacro中。

    相反，建议通过xacro:include包含'inc/ur5e_macro.xacro'，并覆盖该宏的参数默认值。

    更多信息请参考'inc/ur_macro.xacro'。
  -->
  <xacro:include filename="$(find ur5e_description)/urdf/inc/ur5e_macro.xacro"/>
  <xacro:ur5e_robot prefix="" />
</robot>
